/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", 'sans-serif';
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    background-color: #fff;
    padding: 5px 0;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 1px 0px 7px rgb(181, 181, 181);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.navbar-brand,
.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-brand {
    flex-grow: 1;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

/* .navbar-links a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
} */

/* .navbar-links a:hover{
  color: #E93C35;
  transition: 0.3s all ease-in-out;
} */

.container {
    display: flex;
    justify-content: space-between;
}

.information {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.manual-key,
.manual-key2 {
    width: 370px;
    border-radius: 10px;
    border: 3px solid #bbbbbb;
    box-sizing: border-box;
    margin: 0.9rem;
    background-color: #fff;
}

    .manual-key h2,
    .manual-key2 h2 {
        margin-bottom: 1rem;
        background-color: grey;
        color: #fff;
        font-size: 20px;
        padding: 10px;
    }

.horizontal-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    padding: 0 14px;
}


label {
    flex: 1;
    margin-right: 10px;
}

.fixed-size-input {
    width: 220px;
    padding: 2px;
    box-sizing: border-box;
}

.form {
    width: 370px;
    height: 500px;
    border: 3px solid #000;
    border-radius: 10px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

    .form h2 {
        background-color: grey;
        color: #fff;
        padding: 5px;
        font-size: 20px;
    }

.info {
    margin: 5px 20px;
}

.input-info {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .input-group label {
        margin-right: 10px;
    }

select {
    width: 60%;
    padding: 6px;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 5px;
}

.label {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 2rem 2rem;
    margin-bottom: 10px;
    margin: 0 20px;
}

button {
    padding: 10px;
    background-color: rgb(15, 161, 15);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

    button:hover {
        background-color: rgb(20, 176, 20);
        transform: scale(1.02);
    }

.footer {
    background-color: #E93C35;
    color: #fff;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.footer_text {
    font-weight: bold;
}

.footer_link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}